<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/art.png">
        <p>This website uses positionstack API to get data such 
            as longitude and latitude and pass this infomration to
            weatherstack API to fetch weather forecast for the specific 
            location </p>
    </div>
    
    {{>footer}}
</body>

</html>